.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#main {
    /* margin: 20px; */
}

span {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -6.5em;
    font-size: 30px;
}

.span-hide {
    display: none;
}

img {
    width: 70px;
    border-radius: 50%;
}

p {
    margin-top: 10px;
}

.first {
    margin-top: 130px;
}

#bts-header {
    padding-top: 10px;
    height: 110px;
    width: 100%;
    overflow-y: hidden;
    display: block;
    text-align: center;
    background-color: #fdfaf7;
    position: fixed;
    z-index: 99;
}

/* This code pushes the pic to the back and creates a circular window for the pics to show through*/
.bts-tab {
    width: 10em;
    display: inline-block;
    vertical-align: top;
    opacity: 0.6;
    background-color    : #000;
    background-repeat   : no-repeat;
    background-position : 50% 50%;
    background-size     : 100% auto;
    background-size     : contain;
    width               : 70px;
    height              : 70px;
    border-radius       : 100%;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}

/* Aligns the name tags under the images*/
.bts-tab p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 80px;
}


/* This code adds pics and creates the border around the image*/
#rm-tab {
    background-image    : url(./img/member-rm.jpg);
    border: 3px solid red;
}
#jin-tab {
    background-image    : url(./img/member-jin.jpg);
    border: 3px solid orange;
}
#suga-tab {
    background-image    : url(./img/member-suga.jpg);
    border: 3px solid yellow;
}
#j-hope-tab {
    background-image    : url(./img/member-j-hope.jpg);
    border: 3px solid green;
}
#jimin-tab {
    background-image    : url(./img/member-jimin.jpg);
    border: 3px solid pink;
}
#v-tab {
    background-image    : url(./img/member-v.jpg);
    border: 3px solid purple;
}
#jungkook-tab {
    background-image    : url(./img/member-jungkook.jpg);
    border: 3px solid blue;
}
#group-tab {
    background-image    : url(./img/group-photo.png);
    border: 3px solid;
}


.bts-tab:hover {
    transition: 0.2s;
    opacity: 1;
}

.active {
    opacity: 1;
}

img:hover {
    /* width: 60px; */
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}


@media screen and (min-width: 10px) {
    .bts-contribution {
        width: 80%;
    }
}

@media screen and (min-width: 720px) {
    .bts-contribution {
        width: 30%;
        margin: 10px 15px 16px 15px;
    }
}

.song-name {
    margin: 2px 6px;
    font-size: 12px;
}

.bts-contribution {
    font-family: "Open Sans";
    display: inline-block;
}

.contribution-bar {
    display: block;
    position: relative;
    background-color: #c8dfff;
    height: 20px;
    border-radius: 15px;
    margin-top: 8px;
}

.contribution-bar-fill {
    display: block;
    position: absolute;
    height: 14px;
    top: 3px;
    left: 3px;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(224, 193, 224);
    transition: all 0.2s ease-in 0s;
}

.contribution-bar-value {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
