.picture {
    /* position: absolute;
    left: -5.5em;
    z-index: 2;
    border: 2px solid black; */

    width: 80px;
    height: 80px;
    position: absolute;
    left: -6.5em;
    top: -0.5em;
    background-size: cover;
    border: 2px solid black;
}

.detail-text {
    display: block;
    color:black;
    white-space: nowrap;
    position: relative;
    top: -60px;
}

.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.vocal, .write, .compose, .produce {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -6.5em;
    font-size: 30px;
}

.span-hide {
    display: none;
}

img {
    width: 70px;
    border-radius: 50%;
}

p {
    margin-top: 10px;
    text-align: center;
}

#bts-header {
    padding-top: 10px;
    height: 110px;
    width: 100%;
    overflow-y: hidden;
    display: block;
    text-align: center;
    background-color: #fdfaf7;
    position: relative;
    z-index: 99;
}

/* This code pushes the pic to the back and creates a circular window for the pics to show through*/
.bts-tab {
    width: 10em;
    display: inline-block;
    vertical-align: top;
    opacity: 0.6;
    background-color    : #000;
    background-repeat   : no-repeat;
    background-position : 50% 50%;
    background-size     : 100% auto;
    background-size     : contain;
    width               : 70px;
    height              : 70px;
    border-radius       : 100%;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}

/* Aligns the name tags under the images*/
.bts-tab p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 80px;
}


/* This code adds pics and creates the border around the image*/
#rm-tab {
    background-image    : url(./img/member-rm.jpg);
    border: 3px solid red;
}
#jin-tab {
    background-image    : url(./img/member-jin.jpg);
    border: 3px solid orange;
}
#suga-tab {
    background-image    : url(./img/member-suga.jpg);
    border: 3px solid yellow;
}
#jhope-tab {
    background-image    : url(./img/member-j-hope.jpg);
    border: 3px solid green;
}
#jimin-tab {
    background-image    : url(./img/member-jimin.jpg);
    border: 3px solid pink;
}
#v-tab {
    background-image    : url(./img/member-v.jpg);
    border: 3px solid purple;
}
#jungkook-tab {
    background-image    : url(./img/member-jungkook.jpg);
    border: 3px solid blue;
}
/*
#group-tab {
background-image    : url(./img/group-photo.png);
border: 3px solid;
}
*/


.bts-tab:hover {
    transition: 0.2s;
    opacity: 1;
}

.active {
    opacity: 1;
}

img:hover {
    /* width: 60px; */
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}


@media screen and (min-width: 10px) {
    .bts-contribution {
        width: 80%;
    }
}

@media screen and (min-width: 720px) {
    .bts-contribution {
        width: 35%; /* Two blocks on one row */
        margin: 10px 15px 16px 15px;
    }
}


.song-name {
    margin: 2px 6px;
    font-size: 12px;
}

.bts-contribution {
    font-family: "Open Sans";
    display: inline-block;
    margin-left: 100px;
}

.contribution-bar {
    display: block;
    position: relative;
/*    background-color: #c8dfff;*/
    height: 70px;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.contribution-bar-fill {
    display: block;
    position: absolute;
    height: 60px;
    width: 50%;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 8px;
    transition: all 0.2s ease-in 0s;
    background-color: black;
}

.vocal{
    border: 2px solid;
    width: 25%;
    height: 60px;
    left: 0px;
    top: 0px;
}
.write{
    border: 2px solid;
    width: 25%;
    height: 60px;
    left: 25%;
    top: 0px;
}
.compose{
    border: 2px solid;
    width: 25%;
    height: 60px;
    left: 50%;
    top: 0px;
}
.produce{
    border: 2px solid;
    width: 25%;
    height: 60px;
    left: 75%;
    top: 0px;
    
}
.box_text {
    text-align: center;
}

/* DETAIL BAR STUFF START */

.detail-bar {
    width: 55em;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.detail-bar > span > button {
    background-color: #fff;
    color: black;
    /* padding: 8px; */
    min-width: 160px;
    font-size: 16px;
    border: 2px solid #000;
}

.filter-hidden, .sort-hidden {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.filter:hover .filter-hidden {
    display: block;
}

.sort:hover .sort-hidden {
    display: block;
}

.album-container > button,
.genre-container > button,
.year-container > button,
.contribution-container > button,
.sort-hidden > button {
    display: block;
    min-width: 160px;
    background-color: #fff;
    border: none;
    padding: 6px 0;
}

.album-hidden {
    display: none;
    position: absolute;
    left: 160px;
    top: 0px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.genre-hidden {
    display: none;
    position: absolute;
    left: 160px;
    top: 29px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.year-hidden{
    display: none;
    position: absolute;
    left: 160px;
    top: 58px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.contribution-hidden {
    display: none;
    position: absolute;
    left: 160px;
    top: 87px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#album-button:hover,
#genre-button:hover,
#year-button:hover,
#contribution-button:hover {
    color: red;
}

.album-container:hover
.album-hidden,
.genre-container:hover
.genre-hidden,
.year-container:hover .year-hidden,
.contribution-container:hover .contribution-hidden {
    display: block;
    z-index: 2;
}

.album,
.genre,
.year,
.contribution {
    min-width: 160px;
    background-color: #fff;
    border: none;
    padding: 6px 0;
    
}

.album:hover,
.genre:hover,
.year:hover,
.contribution:hover {
    min-width: 160px;
    color:red;
}

.search > input {
    min-width: 160px;
    height: 18px;
}

.sort-hidden > button:hover {
    color: red;
}

/* DETAIL BAR STUFF END */